<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Reset form</title>
    <link rel="stylesheet" type="text/css" href="/css2/signup.css">
    <link rel="stylesheet" type="text/css" href="/css2/style_login.css">
    <!-- Common links -->
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css2/style_button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css2/base.css">
</head>
<body>
<header>
    <div class="content">
        <a th:href="@{/shop}"><img src="/css2/photo/Gameshop.png" alt="Логотип" class="header__logo"/></a>
        <div class="menu">
            <div class="icon-close">
                <img src="/css2/photo/x.png">
            </div>
        </div>
        <div class="icon-menu">
            <img src="/css2/photo/Hamburger.png" height="40">
        </div>
    </div>
</header>
<main>
    <div class="frame">
        <div class="nav1">
            <ul class="links">
                <li class="login-active"><a class="butn" th:text="${message}"></a></li>
            </ul>
            <div th:unless="${error}">
                <form class="form-login" th:action="@{/shop/users/forgot_password}" method="post" name="form">
                    <label id="email">Enter your email</label>
                    <input type="email" name="email" class="form-styling" placeholder="Enter your e-mail" required
                           autofocus/>
                    <div class="butn-animate">
                        <input type="submit" value="Send" class="butn-login"/>
                    </div>
                </form>
            </div>
            <p th:if="${error}" th:text="${error}"></p>
        </div>
    </div>
</main>
</body>
</html>