<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css2/style_login.css">
    <!-- Common links -->
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css2/style_button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css2/base.css">
    <title>Login</title>
</head>
<body>
<header>
    <div class="content">
        <a th:href="@{/shop}"><img src="/css2/photo/Gameshop.png" alt="Логотип" class="header__logo"/></a>
        <div class="menu">
            <div class="icon-close">
                <img src="/css2/photo/x.png">
            </div>
        </div>
        <div class="icon-menu">
            <img src="/css2/photo/Hamburger.png" height="40">
        </div>
    </div>
</header>
<main>
    <div class="frame">
        <div class="nav1">
            <ul class="links">
                <li class="login-active"><a class="butn">Log in</a></li>
            </ul>
        </div>
        <div>
            <div class="errors" th:if="${formError}">
                <p class="text-error" th:text="${formError}"></p>
            </div>
            <form class="form-login" th:action="@{/shop/users/auth}" th:method="POST" th:object="${user}" name="form">
                <label id="username">Username</label>
                <input th:field="*{username}" name="username" class="form-styling" type="text" min="4"
                       placeholder="Username"/>
                <label id="password">Password</label>
                <input th:field="*{password}" class="form-styling" type="password" minlength="4" name="password"
                       placeholder="Password"/>
                <div class="butn-animate">
                    <button type="submit" class="butn-login">Log in</button>
                </div>
                <div class="frame-end">
                    <a class="sign-up" th:href="@{/shop/users/register}">Register</a> |
                    <a class="sign-up" th:href="@{/shop/users/forgot_password}">Forgot your password</a>
                </div>
            </form>
        </div>
    </div>
</main>
<!--Menu All pages-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="/js/jquery.bxslider.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/new.js"></script>
</body>
</html>