<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form th:method="POST" th:action="@{/users}" th:object="${user}">
        <label for="username">Enter username: </label>
        <input type="text" th:field="*{username}" id="username">
        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
        <br/>
        <label for="firstname">Enter first name: </label>
        <input type="text" th:field="*{firstname}" id="firstname">
        <div style="color: red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">First name error</div>
        <br/>
        <label for="lastname">Enter last name: </label>
        <input type="text" th:field="*{lastname}" id="lastname">
        <div style="color: red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Last name error</div>
        <br/>
        <label for="email">Enter email: </label>
        <input type="text" th:field="*{email}" id="email">
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
        <br/>
        <label for="password">Enter password: </label>
        <input type="password" th:field="*{password}" id="password">
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
        <br/>
        <input type="submit" value="Register!">
    </form>
</body>
</html>