<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css2/signup.css">
    <!-- Common links -->
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet"> <!--Font All pages-->
    <link rel="stylesheet" href="/css2/style_button.css"> <!--Button All pages-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"><!--Font All pages-->
    <link rel="stylesheet" type="text/css" href="/css2/base.css"> <!--All pages-->
</head>
<body>
<header>
    <div class="content">
        <a th:href="@{/shop}"><img src="/css2/photo/Gameshop.png" alt="Логотип" class="header__logo"/></a>
        <div class="menu">
            <div class="icon-close">
                <img src="/css2/photo/x.png">
            </div>
        </div>
        <div class="icon-menu">
            <img src="/css2/photo/Hamburger.png" height="40">
        </div>
    </div>
</header>
<main>
    <div class="framesignup">
        <div class="nav1">
            <ul class="links">
                <li class="signup-active"><a class="butn">Sign up</a></li>
            </ul>
        </div>
        <div class="errors" th:if="${formError}">
            <p class="text-error" th:text="${formError}"></p>
        </div>
        <form class="form-signup" th:method="POST" th:action="@{/shop/users}" th:object="${user}" name="form">
            <div class="part1">

                <div class="username">
                    <label for="username">Username: </label>
                    <input type="text" th:field="*{username}" id="username" autofocus required
                           class="form-styling form-styling-username">
                    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username
                        error
                    </div>
                </div>
                <div class="email">
                    <label for="email">Email: </label>
                    <input type="email" th:field="*{email}" id="email" required
                           class="form-styling form-styling-email">
                    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
                </div>
            </div>
            <div class="part2">
                <div class="first_name">
                    <label for="firstname">First name: </label>
                    <input type="text" th:field="*{firstname}" id="firstname" required
                           class="form-styling form-styling-part2">
                    <div style="color: red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">
                        First name error
                    </div>
                </div>
                <div class="last_name">
                    <label for="lastname">Enter last name: </label>
                    <input type="text" th:field="*{lastname}" id="lastname" required
                           class="form-styling form-styling-part2">
                    <div style="color: red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">
                        Last name error
                    </div>
                </div>
            </div>
            <div class="password">
                <div class="password1">
                    <label for="password">Enter password: </label>
                    <input type="password" th:field="*{password}" id="password" required
                           class="form-styling form-styling-password">
                    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                        error
                    </div>
                </div>
            </div>
            <div class="butn-animate">
                <button type="submit" class="butn-signup">Register</button>
            </div>
            <div class="frame-end">
                <a class="login" th:href="@{/shop/users/login}">Log in | </a>
                <a class="login" th:href="@{/shop/users/forgot_password}">Forgot your password</a>
            </div>
            <div class="frame-end">
               </div>
        </form>
    </div>
</main>
</body>
</html>