<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Reset form</title>
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css2/signup.css">
    <link rel="stylesheet" type="text/css" href="/css2/style_login.css">
    <link rel="stylesheet" type="text/css" href="/css2/base.css">
    <link rel="stylesheet" href="/css2/style_button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
<header>
    <div class="content">
        <a th:href="@{/shop}"><img src="/css2/photo/Gameshop.png" alt="Логотип" class="header__logo"/></a>
        <div class="menu">
            <div class="icon-close">
                <img src="/css2/photo/x.png">
            </div>
        </div>
        <div class="icon-menu">
            <img src="/css2/photo/Hamburger.png" height="40">
        </div>
    </div>
</header>
<main th:if="${validLink}">
    <div class="frame">
        <div class="nav1">
            <ul class="links">
                <li class="login-active"><a class="butn">Reset Your Password</a></li>
            </ul>
        </div>
        <div>
            <div class="errors" th:if="${formError}">
                <p class="text-error" th:text="${formError}"></p>
            </div>
            <form class="form-login" th:action="@{/shop/users/reset_password}" method="post" name="form">
                <input type="hidden" name="token" th:value="${token}"/>
                <label for="password">New password:</label>
                <input type="password" name="password" id="password" class="form-styling"
                       placeholder="Enter your new password" required autofocus/></td>
                <label for="password">Confirm password:</label>
                <input type="password" name="password" class="form-styling" placeholder="Confirm your new password"
                       required oninput="checkPasswordMatch(this);"/>
                <div class="butn-animate">
                    <input type="submit" value="Change Password" class="butn-login"/>
                </div>
            </form>
        </div>
    </div>
</main>
<div th:if="${validLink}">
    <h1>Password reset failed</h1>-->
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
</div>
<script src="/js/checkPasswordMatch.js"></script>
<!--Menu All pages-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="/js/jquery.bxslider.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/new.js"></script>
</body>
</html>