section{
  width: 100%;
  height: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c3e42;
}

.all{

display: flex;
justify-content: space-around;
align-items: center;
background: var(--light-green);
height: 48%;
}

.information__block{
  position: absolute;
  top:26%;
  left: 26%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  background: var(--pink-color);
  padding: 15px;
  color:#fff;
}

.text{
  width: 30%;
  text-align: center;
  font-size: 22px;
}

.forms{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 2px solid var(--dark--green);
  padding-left: 60px;
  height: 200px;
    outline: none;

}
.recall{
  color: white;
  font-size: 18px;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.form__ap{
  height: 35px;
  padding-left: 15px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 400px;


}

:focus{
    outline: none;
}
:root{
--pink-color: #be9a9a;
--light-green: #5f746f;
--dark--green: #2c3e42;}

.button__check{
  color: var(--dark--green);
  background: var(--pink-color);
  height: 30px;
  width: 140px;
  border-radius: 30px;
  letter-spacing: 2px;
  border: 3px solid var(--dark--green);
  outline: none;
  margin-top: 20px;

}
