<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>
    <link rel="stylesheet" href="/css2/core-style.css">
    <link rel="stylesheet" href="/css2/basket.css">
    <link rel="stylesheet" href="/css2/buy1.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div class="content">
        <a th:href="@{/shop}"><img src="/css2/photo/Gameshop.png" alt="Логотип" class="header__logo"/></a>
        <div class="menu">
            <div class="icon-close">
                <img src="/css2/photo/x.png">
            </div>
            <nav>
                <a href="#" class="nav-link">How it works</a>
                <a href="#" class="nav-link">Prices</a>
                <a href="#" class="nav-link">Guidebook</a>
                <a href="#" class="nav-link">FAQ</a>
                <a th:href="@{/shop/basket}" class="nav-link bag">Basket</a>
            </nav>
        </div>
        <div class="icon-menu">
            <img src="css2/photo/Hamburger.png" height="40" alt="image">
        </div>
        <div th:if="${userId}">
            <a th:href="@{/shop/account}" class=" btn">Profile</a>
        </div>
        <div th:unless="${userId}">
            <a th:href="@{/shop/users/login}" class=" btn">Log In</a>
        </div>
    </div>
</header>

<article>
    <div class="empty_cart" th:if="${basketEditDto.baskets == null and basketEditDto.baskets.isEmpty()}">
        <h1 class="empty-h">Your basket is empty</h1>
    </div>
    <div class="basket">
        <div th:if="countError">
            <h1 th:text="${countError}"></h1>
        </div>

        <h1>Your basket</h1>
        <div class="tickets">
            <form action="#" th:action="@{/shop/update/basket}" th:object="${basketEditDto}" method="post">
                <input type="submit" value="Update basket" id="submitButton"/>
                <fieldset th:each="basket, itemStat : *{baskets}">
                    <a th:href="@{/shop/delete/basket/{id}(id=${basket.getId()})}">
                        <div class="close">
                            <img src="/css2/photo/close.png" height="40" width="40" alt="close"></div>
                    </a>
                    <div class="ticket">
                        <div class="ticket__infor">
                            <div class="name_info"></div>
                        </div>
                        <div class="information">
                            <div class="person__information">
                                <div class="person__name__information">Game:</div>
                                <a th:href="@{/shop/products/{id}(id=${basket.getId()})}">
                                    <div class="name" th:text="${basket.getName()}"></div>
                                </a>
                                <div class="person__surname__information">Unit price:</div>
                                <div class="surname" th:text="${basket.getPrice()} + ' ₴'"></div>
                                <div class="person__surname__information">Price:</div>
                                <div class="surname" th:text="${basket.getPrice()} * ${basket.getQuantity()} + ' ₴'"></div>
                            </div>

                            <div class="date__information">
                                <div class="date__start__information">Quantity:</div>
                                <div class="surname" th:text="${basket.getQuantity()}"></div>

                                <label for="quantity">Enter quantity: </label>
                                <input type="number" id="quantity" th:field="*{baskets[__${itemStat.index}__].quantity}"
                                       th:min="1"
                                       th:max="${basket.getCount()}"/>
                                <input type="hidden" th:field="*{baskets[__${itemStat.index}__].basketId}"/>

                                <img th:src="'data:image/jpeg;base64,' + ${basket.getImage()}" th:height="200" th:width="200"/>
                                <a th:href="@{/shop/delete/basket/{id}(id=${basket.getId()})}">
                                    <input type="button" value="Delete product">
                                </a>
                                <div class="finish__date"></div>
                            </div>
                        </div>
                        <hr/>
                        <div class="num">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="total__price">
            <div class="infor__price">Total price:</div>
            <div class="infor__value__price" th:text="${totalPrice} + ' ₴'"></div>
        </div>
    </div>


    <div class="buttons">
        <a class="gradient-btn_Basket" th:href="@{/shop/order/new}">Create order</a>

        <a class="gradient-btn_Basket" th:href="@{/shop/delete/basket}">Delete all</a>

        <a class="gradient-btn_Basket" th:href="@{/shop}">Back</a>
    </div>
</article>
<footer>
    <div class="title__logo">GameShop</div>
    <div class="info">
        <div class="mail">Ukraine~Kharkov</div>
        <div class="mail">E-mail: gameshop@gmail.com</div>
        <div class="number">(050)042 4768</div>
        <div class="number">(099)191 1067</div>
    </div>

    <nav class="nav">
        <a href="#" class="nav-link">How it works</a>
        <a href="#" class="nav-link">Prices</a>
        <a href="#" class="nav-link">Guidebook</a>
        <a href="#" class="nav-link">FAQ</a>
        <a th:href="@{/shop/basket}" class="nav-link bag">Basket</a>

    </nav>
    <div class="social">
        <div><img src="/css2/photo/facebook-pink.png" width="50" height="50" alt="Логотип"/></div>
        <div><img src="/css2/photo/instagram-pink.png" width="50" height="50" alt="Логотип"/></div>
        <div><img src="/css2/photo/twitter-pink.png" width="50" height="50" alt="Логотип"/></div>
        <div><img src="/css2/photo/youtube-pink.png" width="50" height="50" alt="Логотип"/></div>
    </div>
</footer>
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/classy-nav.min.js"></script>
<script src="/js/active.js"></script>
<script src="/js/jquery.bxslider.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/new.js"></script>
<script src="/js/more.js"></script>
</body>
</html>