<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The product</title>
    <link rel="stylesheet" href="/css2/core-style.css">
    <link rel="stylesheet" href="/css2/product.css">
    <link rel="stylesheet" type="text/css" href="/css2/base.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div class="content">
        <a th:href="@{/shop}"><img src="/css2/photo/Gameshop.png" alt="Логотип" class="header__logo"/></a>
        <div class="menu">
            <div class="icon-close">
                <img src="/css2/photo/x.png" alt="image">
            </div>
            <nav>
                <a href="#" class="nav-link">How it works</a>
                <a href="#" class="nav-link">Prices</a>
                <a href="#" class="nav-link">Guidebook</a>
                <a href="#" class="nav-link">FAQ</a>
                <a th:href="@{/shop/basket}" class="nav-link bag">Basket</a>
            </nav>
        </div>
        <div class="icon-menu">
            <img src="css2/photo/Hamburger.png" height="40" alt="image">
        </div>
        <div th:if="${userId}">
            <a th:href="@{/shop/account}" class=" btn">Profile</a>
        </div>
        <div th:unless="${userId}">
            <a th:href="@{/shop/users/login}" class=" btn">Log In</a>
        </div>
    </div>
</header>
<div class="main__part">
    <div class="green">
        <div class="product">
            <div class="img__desc">
                <img th:src="'data:image/jpeg;base64,' + ${product.getImage()}" width="150" height="150" alt="picture"/>
            </div>
            <div class="description">
                <div class="all__description">
                    <div class="title__product" th:text="${product.getName()}"></div>
                    <p class="desc" th:text="${product.getDescription()}"></p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="quantity">
            <div class="price">
<!--                <p th:text="'Price: ' + ${product.getPrice  ()} + ' ₴' + ' | OS: ' + ${product.getOs()} + ' | Studio: ' + ${product.getStudio()} + ' | Year: ' + ${product.getYear()}">-->
                <p>
                    Price: <span class="pro__info" th:text="${product.getPrice()} + ' ₴'"></span>&nbsp;
                    OS: <span class="pro__info" th:text="${product.getOs()}"></span>&nbsp;
                    Studio: <span class="pro__info" th:text="${product.getStudio()}"></span>&nbsp;
                    Year: <span class="pro__info" th:text="${product.getYear()}"></span>
                    <br/>
                    Category: <span class="pro__info" th:each="category : ${product.getCategoryList()}" th:text="${category.getName()} + ' '"></span>&nbsp;
                </p>
            </div>
            <form th:method="POST" th:action="@{/shop/basket/{id}(id=${product.getId()})}" th:object="${basketDto}">
                <label for="id_quantity" class="title__quantity">Quantity:</label>
                <input type="number" th:field="*{countProduct}" name="quantity" id="id_quantity"
                       class="form-styling__pr" th:min="1" th:max="${product.getCount()}" placeholder="1">
                <input type="submit" value="Add to basket" class="button__update__pr">
            </form>

        </div>
    </div>
</div>
<footer>
    <div class="title__logo">GameShop</div>
    <div class="info">
        <div class="mail">Ukraine~Kharkiv</div>
        <div class="mail">E-mail: gameshop@gmail.com</div>
        <div class="number">(050)042 4768</div>
        <div class="number">(099)191 1067</div>
    </div>

    <nav class="nav">
        <a href="#" class="nav-link">How it works</a>
        <a href="#" class="nav-link">Prices</a>
        <a href="#" class="nav-link">Guidebook</a>
        <a href="#" class="nav-link">FAQ</a>
        <a th:href="@{/shop/basket}" class="nav-link bag">Basket</a>
    </nav>
    <div class="social">
        <div><img src="/css2/photo/facebook-pink.png" width="50" height="50" alt="Логотип"/></div>
        <div><img src="/css2/photo/instagram-pink.png" width="50" height="50" alt="Логотип"/></div>
        <div><img src="/css2/photo/twitter-pink.png" width="50" height="50" alt="Логотип"/></div>
        <div><img src="/css2/photo/youtube-pink.png" width="50" height="50" alt="Логотип"/></div>
    </div>
</footer>
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/classy-nav.min.js"></script>
<script src="/js/active.js"></script>
<script src="/js/jquery.bxslider.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/new.js"></script>
<script src="/js/more.js"></script>
</body>
</html>